<a href="https://colab.research.google.com/github/Bongguo/oz_class/blob/main/chapter14~16_%EC%98%A4%EC%9C%A0%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

####**제출 방법 안내**
상단 파일명(4일차_파이썬14_16화.ipynb)을 4일차_파이썬14_16화_000(본인이름).ipynb로 변경후 아래 링크로 접속 후 본인 이름의 폴더에 제출해주면 됩니다.

제출 링크 :

####**답변 입력 방법 안내**
"답변"이라고 적힌란을 마우스로 더블 클릭하시면 글을 작성할 수 있습니다.

텍스트에 글을 더 잘 작성하기 위해서는 마크다운 언어를 공부하시면 됩니다.

**(구글 검색 창에 "코랩 마크다운" 검색)**

##문제1

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   

x = 2, n =5

In [1]:
def generate_sequence(x, n):
    # x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트 생성
    result = [x + i * x for i in range(n)]
    return result

# 예시 입력
x = 2
n = 5

# 함수 호출 및 결과 출력
result_sequence = generate_sequence(x, n)
print(result_sequence)

[2, 4, 6, 8, 10]

##문제2

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  

출력 예시 : "0101234****"

In [2]:
def hide_last_four_digits(phone_number):
    # 전화번호의 뒷 4자리를 '*'으로 가리기
    hidden_number = phone_number[:-4] + '****'
    return hidden_number

# 예시 입력
phone_number = "01012347890"

# 함수 호출 및 결과 출력
result_hidden_number = hide_last_four_digits(phone_number)
print(result_hidden_number)

0101234****

##문제3

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [3]:
def find_original_number(s):
    # 숫자에 대응되는 영단어와 숫자 매핑
    words_to_numbers = {
        "zero": "0",
        "one": "1",
        "two": "2",
        "three": "3",
        "four": "4",
        "five": "5",
        "six": "6",
        "seven": "7",
        "eight": "8",
        "nine": "9"
    }

    # 문자열 s에서 숫자 영단어를 찾아 숫자로 변환
    for word, number in words_to_numbers.items():
        s = s.replace(word, number)

    return int(s)

# 예시 입력
s = "77three4one"

# 함수 호출 및 결과 출력
result_original_number = find_original_number(s)
print(result_original_number)

77341

##문제4

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 2개의 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [4]:
def matrix_addition(arr1, arr2):
    # 행렬의 크기를 가져옴
    rows = len(arr1)
    cols = len(arr1[0])

    # 결과 행렬 초기화
    result = [[0] * cols for _ in range(rows)]

    # 행렬 덧셈 계산
    for i in range(rows):
        for j in range(cols):
            result[i][j] = arr1[i][j] + arr2[i][j]

    return result

# 예시 입력
arr1 = [[1, 2], [2, 3]]
arr2 = [[3, 4], [5, 6]]

# 함수 호출 및 결과 출력
result_matrix = matrix_addition(arr1, arr2)
print(result_matrix)

[[4, 6], [7, 9]]

##문제5

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [5]:
def is_harshad_number(x):
    # x의 각 자릿수의 합을 계산
    digit_sum = sum(int(digit) for digit in str(x))

    # x가 자릿수의 합으로 나누어 떨어지는지 검사
    return x % digit_sum == 0

# 예시 입력
x1 = 10
x2 = 12
x3 = 11
x4 = 13

# 함수 호출 및 결과 출력
result1 = is_harshad_number(x1)
result2 = is_harshad_number(x2)
result3 = is_harshad_number(x3)
result4 = is_harshad_number(x4)

print(result1)  # True
print(result2)  # True
print(result3)  # False
print(result4)  # False

True
True
False
False

##문제6

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

결과
"김서방은 1에 있다"

In [6]:
def find_kim_index(seoul):
    # "Kim"의 인덱스 찾기
    kim_index = seoul.index("Kim")

    # 결과 출력
    result = f"김서방은 {kim_index}에 있다"
    print(result)

# 예시 입력
seoul = ["Jane", "Kim"]

# 함수 호출
find_kim_index(seoul)

김서방은 1에 있다

##문제7

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [7]:
def find_missing_numbers_sum(numbers):
    # 0부터 9까지의 숫자 모두 포함하는 집합 생성
    all_numbers = set(range(10))

    # numbers에 있는 숫자들을 제외한 숫자들의 합 계산
    missing_numbers_sum = sum(all_numbers - set(numbers))

    return missing_numbers_sum

# 예시 입력
numbers = [5, 8, 1, 0, 6, 9]

# 함수 호출 및 결과 출력
result_sum = find_missing_numbers_sum(numbers)
print(result_sum)

16